/* line 5, ../sass/includes/_base.scss */
.header {
  margin: 0;
  padding: 20px 0;
}

/* line 9, ../sass/includes/_base.scss */
body.red-bar .header {
  border-top: 10px solid #8c1515;
}

/* line 15, ../sass/includes/_base.scss */
.main {
  padding-top: 40px;
}

/* line 18, ../sass/includes/_base.scss */
.site-footer {
  margin: 0;
  padding: 40px 0 20px 0;
}

/* line 81, ../sass/includes/_base.scss */
a.btn, .btn a {
  padding: 0.5em 1em;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 93, ../sass/includes/_base.scss */
a.more-link, .more-link a {
  background-image: none;
  padding-right: none;
  text-transform: none;
  display: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

/* line 102, ../sass/includes/_base.scss */
a.more-link:after, .more-link a:after {
  content: " »";
}

/* line 109, ../sass/includes/_base.scss */
a.edit-link, .edit-link a {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  font-size: .8em;
}

/* line 116, ../sass/includes/_base.scss */
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {
  background: #ddd;
}

/* line 123, ../sass/includes/_base.scss */
.block > h2 {
  margin-top: 0;
}

/* line 126, ../sass/includes/_base.scss */
.well {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Override main menu */
/* line 136, ../sass/includes/_base.scss */
.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: medium none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* line 147, ../sass/includes/_base.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 152, ../sass/includes/_base.scss */
.navbar .nav > li > a {
  padding: 0;
  text-shadow: none;
  margin-right: 1em;
}

/* line 157, ../sass/includes/_base.scss */
.navbar .nav > li:last-child > a {
  margin-right: 0;
}
