/* line 5, ../sass/includes/_base.scss */
.header {
  margin: 0;
  padding: 20px 0;
}

/* line 9, ../sass/includes/_base.scss */
body.red-bar .header {
  border-top: 10px solid #8c1515;
}

/* line 15, ../sass/includes/_base.scss */
.main {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0;
}

/* line 20, ../sass/includes/_base.scss */
.site-footer {
  margin: 0;
  padding: 40px 0 20px 0;
}

/* line 51, ../sass/includes/_base.scss */
#name-and-slogan {
  padding-left: 0;
}

/* line 54, ../sass/includes/_base.scss */
.site-name {
  margin-left: -4px;
}

/* line 86, ../sass/includes/_base.scss */
a.btn, .btn a {
  padding: 0.5em 1em;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 98, ../sass/includes/_base.scss */
a.more-link, .more-link a {
  background-image: none;
  padding-right: none;
  text-transform: none;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

/* line 107, ../sass/includes/_base.scss */
a.more-link:after, .more-link a:after {
  content: " »";
}

/* line 114, ../sass/includes/_base.scss */
a.edit-link, .edit-link a {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  font-size: .8em;
}

/* line 121, ../sass/includes/_base.scss */
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {
  background: #ddd;
}

/* line 128, ../sass/includes/_base.scss */
.block > h2 {
  margin-top: 0;
}

/* line 131, ../sass/includes/_base.scss */
.well {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Override main menu */
/* line 141, ../sass/includes/_base.scss */
.navbar-inner {
  background-color: transparent;
  background-image: none;
  border: medium none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

/* line 152, ../sass/includes/_base.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 157, ../sass/includes/_base.scss */
.navbar .nav > li > a {
  padding: 0;
  text-shadow: none;
  margin-right: 1em;
}

/* line 162, ../sass/includes/_base.scss */
.navbar .nav > li:last-child > a {
  margin-right: 0;
}

@media (max-width: 767px) {
  /* line 166, ../sass/includes/_base.scss */
  .navbar {
    margin-bottom: 20px;
  }

  /* line 169, ../sass/includes/_base.scss */
  #main-nav {
    margin-top: 20px;
  }

  /* line 172, ../sass/includes/_base.scss */
  .navbar .nav > li > a {
    margin-right: 0;
    margin-bottom: 0.5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  /* line 177, ../sass/includes/_base.scss */
  .navbar .btn-navbar {
    background-image: none;
    background: #8c1515;
    border: none;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }

  /* line 185, ../sass/includes/_base.scss */
  .navbar .btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 188, ../sass/includes/_base.scss */
  .navbar .btn-navbar:hover, .navbar .btn-navbar:focus, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background: #333;
  }
}
@media (max-width: 767px) {
  /* line 10, ../sass/includes/_responsive.scss */
  body {
    padding: 0;
  }

  /* line 13, ../sass/includes/_responsive.scss */
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
