/* line 1, ../sass/styles/styles.scss */
body {
  color: #333333;
  background: #fbfbf9;
}

/* line 6, ../sass/styles/styles.scss */
.header {
  background: #f8f7f2;
}

/* line 9, ../sass/styles/styles.scss */
.site-main-menu {
  background: #f8f7f2;
  border-bottom: 1px solid #e9e6df;
}

/* line 13, ../sass/styles/styles.scss */
.site-footer {
  background: #f8f7f2;
  border-top: 1px solid #e9e6df;
}

/* line 18, ../sass/styles/styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 21, ../sass/styles/styles.scss */
h1 {
  color: #333333;
}

/* line 24, ../sass/styles/styles.scss */
h2 {
  color: #333333;
}

/* line 47, ../sass/styles/styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 50, ../sass/styles/styles.scss */
#site-slogan {
  color: #333333;
}

/* line 70, ../sass/styles/styles.scss */
a {
  color: #8c1515;
}

/* line 73, ../sass/styles/styles.scss */
a:hover, a:focus {
  color: #333333;
}

/* line 76, ../sass/styles/styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 81, ../sass/styles/styles.scss */
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
  background: #333333;
  color: #fbfbf9;
}

/* line 86, ../sass/styles/styles.scss */
a.more-link, .more-link a {
  color: #8c1515;
}

/* line 90, ../sass/styles/styles.scss */
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 107, ../sass/styles/styles.scss */
.well {
  background: #e9e6df;
}

/* line 114, ../sass/styles/styles.scss */
.navbar .nav > li > a {
  color: #8c1515;
  background: transparent;
}

/* line 122, ../sass/styles/styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  background: transparent;
}

/* line 109, ../sass/styles/_light-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
}

/* line 116, ../sass/styles/_light-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #e9e6df;
}
