/* line 1, ../sass/styles/_styles.scss */
body {
  color: #333333;
  background: white;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #53284f;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #53284f;
  border-bottom: 1px solid #53284f;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: white;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #53284f;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #53284f;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #53284f;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #333333;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #333333;
  background-color: #006374;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #333333;
  color: white;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #888888;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #007c92;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #333333;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #53284f;
  color: white;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #333333;
  color: white;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #007c92;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: white;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #006374;
}

/* line 103, ../sass/styles/_styles.scss */
th {
  background: #006374;
}

/* line 106, ../sass/styles/_styles.scss */
td.active {
  background: rgba(0, 99, 116, 0.5);
}

/* line 110, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #006374;
}

/* line 115, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #006374;
}

/* line 122, ../sass/styles/_styles.scss */
.well {
  background: #006374;
}

/* line 127, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #006374;
  background: rgba(0, 99, 116, 0.8);
}

/* line 131, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #333333;
}

/* line 134, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: white;
  background: transparent;
}

/* line 138, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #333333;
  background: white;
}

/* line 142, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #333333;
}

/* line 145, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #53284f;
  border: 1px solid #53284f;
}

/* line 149, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: white;
}

/* line 153, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #333333;
  background: white;
}

/* line 157, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

/* line 161, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #53284f;
  background: #333333;
}

/* line 165, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: white;
}

/* line 168, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 171, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #53284f;
}

/* line 174, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 177, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: white;
  border-radius: 0;
}

/* line 181, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 184, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #53284f;
}

/* line 187, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: white;
}

/* line 190, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: white;
  /* page background color */
}

/* line 193, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: white;
  /* well link color */
}

/* line 196, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #333333;
  /* well text color */
}

/* line 199, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #007c92;
  /* well link color */
}

/* line 202, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #888888;
}

/* line 205, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #006374;
  color: #333333;
}

/* line 209, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #007c92;
  color: white;
}

/* line 213, ../sass/styles/_styles.scss */
.date-stacked {
  background: #00313a;
}
/* line 215, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: white;
}

/* line 1, ../sass/styles/_bright-styles.scss */
.header-bkg .site-main-menu {
  padding-top: 0px;
}

/* line 6, ../sass/styles/_bright-styles.scss */
.site-name a,
.site-name a:hover,
.site-name a:active {
  color: white;
}

/* line 10, ../sass/styles/_bright-styles.scss */
.site-login,
.site-login a {
  color: white;
}

/* line 14, ../sass/styles/_bright-styles.scss */
.site-login a:hover,
.site-login a:active {
  text-decoration: underline;
}

/* line 17, ../sass/styles/_bright-styles.scss */
#site-slogan {
  color: white;
}

/* line 20, ../sass/styles/_bright-styles.scss */
.site-main-menu {
  border-bottom: 0;
  background: #53284f;
}

/* line 24, ../sass/styles/_bright-styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: white;
}

@media (min-width: 768px) {
  /* line 28, ../sass/styles/_bright-styles.scss */
  .navbar {
    margin-bottom: 0;
  }
}
/* line 32, ../sass/styles/_bright-styles.scss */
.navbar .nav > li > a {
  padding: 0.5em 1em;
  margin-right: 0.25em;
  text-transform: uppercase;
}

/* line 41, ../sass/styles/_bright-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
}

/* line 44, ../sass/styles/_bright-styles.scss */
.roundedcorners .navbar .nav > li > a {
  border-radius: 5px 5px 0 0;
}

@media (max-width: 767px) {
  /* line 48, ../sass/styles/_bright-styles.scss */
  .navbar .btn-navbar {
    border: 1px solid transparent;
    background: #007c92;
  }

  /* line 57, ../sass/styles/_bright-styles.scss */
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active,
  .navbar .btn-navbar.disabled,
  .navbar .btn-navbar[disabled] {
    background: #53284f;
    border: 1px solid white;
  }

  /* line 61, ../sass/styles/_bright-styles.scss */
  .roundedcorners .navbar .nav > li > a {
    border-radius: 5px;
    margin-right: 0;
  }
}
/* line 68, ../sass/styles/_bright-styles.scss */
.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active {
  text-decoration: underline;
}

/* line 71, ../sass/styles/_bright-styles.scss */
.well {
  color: white;
}

/* line 74, ../sass/styles/_bright-styles.scss */
.well .caption {
  color: #d9d9d9;
}

/* line 82, ../sass/styles/_bright-styles.scss */
.well h2,
.well h3,
.well h4,
.well h2 a,
.well h2 a:hover,
.well h2 a:focus {
  color: white;
}

/* line 86, ../sass/styles/_bright-styles.scss */
.well h2 a:hover,
.well h2 a:focus {
  text-decoration: underline;
}

/* line 90, ../sass/styles/_bright-styles.scss */
.well a,
.well .menu li a {
  color: #ffce49;
}

/* line 100, ../sass/styles/_bright-styles.scss */
.well a:hover,
.well a:focus,
.well .menu li a:hover,
.well .menu li a:focus,
.well .menu li a.active,
.site-footer .menu li a:hover,
.site-footer .menu li a:focus,
.site-footer .menu li a.active {
  color: white;
  text-decoration: underline;
}

/* line 104, ../sass/styles/_bright-styles.scss */
.site-footer {
  color: white;
}

/* line 107, ../sass/styles/_bright-styles.scss */
.site-footer .block h2 {
  color: white;
}

/* line 110, ../sass/styles/_bright-styles.scss */
.site-footer a {
  color: #ffce49;
}

/* line 115, ../sass/styles/_bright-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: white;
  text-decoration: underline;
}

/* line 119, ../sass/styles/_bright-styles.scss */
.dropdown-menu {
  background: white;
}

/* line 125, ../sass/styles/_bright-styles.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: white;
  background: #53284f;
}

/* line 134, ../sass/styles/_bright-styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}

/* line 138, ../sass/styles/_bright-styles.scss */
hr {
  border-top: 1px solid #888888;
}

/* line 141, ../sass/styles/_bright-styles.scss */
th, td {
  border-color: #006374;
}

/* line 144, ../sass/styles/_bright-styles.scss */
th {
  background: #006374;
  color: white;
}

/* line 148, ../sass/styles/_bright-styles.scss */
td.active {
  background: rgba(0, 99, 116, 0.5);
}

/* line 151, ../sass/styles/_bright-styles.scss */
th a {
  color: #ffce49;
}

/* line 154, ../sass/styles/_bright-styles.scss */
th a:hover, th a:focus {
  color: white;
  text-decoration: underline;
}

/* line 159, ../sass/styles/_bright-styles.scss */
.banner-overlay h2, .banner-overlay p {
  color: white;
}
/* line 162, ../sass/styles/_bright-styles.scss */
.banner-overlay a.more-link, .banner-overlay .more-link a {
  color: #ffce49;
}
/* line 166, ../sass/styles/_bright-styles.scss */
.banner-overlay a.more-link:hover, .banner-overlay .more-link a:hover,
.banner-overlay a.more-link:focus, .banner-overlay .more-link a:focus {
  color: white;
  text-decoration: underline;
}

/* line 171, ../sass/styles/_bright-styles.scss */
ul.pager li a {
  color: white;
  background: #333333;
}
