/* line 1, ../sass/styles/_styles.scss */
body {
  color: #333333;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #f8f7f2;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #f8f7f2;
  border-bottom: 1px solid #e9e6df;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #f8f7f2;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #333333;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #333333;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #333333;
  background-color: #e9e6df;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #333333;
  color: #fbfbf9;
  text-decoration: none;
}

/* line 66, ../sass/styles/_styles.scss */
.caption {
  color: #928b81;
}

/* line 71, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8c1515;
}

/* line 74, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #333333;
}

/* line 77, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 81, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #333333;
  color: #fbfbf9;
}

/* line 85, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8c1515;
}

/* line 88, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 93, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: #fbfbf9;
  text-decoration: none;
}

/* line 102, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #e9e6df;
}

/* line 105, ../sass/styles/_styles.scss */
th {
  background: #e9e6df;
}

/* line 108, ../sass/styles/_styles.scss */
td.active {
  background: rgba(233, 230, 223, 0.5);
}

/* line 112, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #e9e6df;
}

/* line 117, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #e9e6df;
}

/* line 124, ../sass/styles/_styles.scss */
.well {
  background: #e9e6df;
}

/* line 129, ../sass/styles/_styles.scss */
.tile-link {
  margin-bottom: 1em;
  background: #8c1515;
}

/* line 133, ../sass/styles/_styles.scss */
.tile-link h2 {
  margin: 0;
}

/* line 136, ../sass/styles/_styles.scss */
.tile-link h2 a {
  display: block;
  padding: 0.5em 0.75em;
  color: #fbfbf9;
}

/* line 141, ../sass/styles/_styles.scss */
.tile-link h2 a:hover, .tile-link h2 a:focus {
  color: #fbfbf9;
  text-decoration: none;
}

/* line 145, ../sass/styles/_styles.scss */
.tile-link:hover, .tile-link:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* line 151, ../sass/styles/_styles.scss */
.content-body .tile-link .field.field-name-tile-display-image,
.content-body .tile-link .field.field-name-tile-display-title,
.content-body .tile-link .field.field-name-field-s-lp-item-image {
  margin-bottom: 0;
}

/* line 154, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #e9e6df;
  background: rgba(233, 230, 223, 0.8);
}

/* line 158, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #333333;
}

/* line 161, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #8c1515;
  background: transparent;
}

/* line 170, ../sass/styles/_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  color: #333333;
  background: transparent;
}
@media (max-width: 767px) {
  /* line 170, ../sass/styles/_styles.scss */
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active-trail > a {
    color: #f8f7f2;
    background: #333333;
  }
}

@media (max-width: 767px) {
  /* line 179, ../sass/styles/_styles.scss */
  #main-nav {
    background: #fbfbf9;
  }
}
/* line 185, ../sass/styles/_styles.scss */
.sidebar .block-menu,
.sidebar .block-menu-block {
  background: #e9e6df;
  padding: 1.3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 193, ../sass/styles/_styles.scss */
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
  font-size: 1.3em;
  font-weight: 600;
}

/* top level sidebar links */
/* line 199, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
  border-top: 1px solid #d6d6d6;
  padding: 0.5em;
}

/* line 204, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.last > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last > a {
  border-bottom: 1px solid #d6d6d6;
}

/* line 214, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
  background: #f8f7f2;
}

/* nested sidebar links */
/* line 219, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.expanded {
  padding-bottom: 0.75em;
}

/* line 223, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
  padding: 0.25em 0;
}

/* line 231, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover,
.sidebar .block-menu .content > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu .content > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail {
  text-decoration: underline;
}

/* line 237, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail {
  color: #333333;
  text-decoration: none;
}

/* line 241, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #f8f7f2;
  border: 1px solid #e9e6df;
  right: 1em;
  padding: 0;
}

/* line 249, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #8c1515;
}
@media (max-width: 767px) {
  /* line 249, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #f8f7f2;
    background: #333333;
  }
}

@media (max-width: 767px) {
  /* line 260, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown > a:hover .caret,
  .navbar .nav li.dropdown > a:focus .caret,
  .navbar .nav li.active-trail.dropdown .caret {
    border-bottom-color: #f8f7f2;
    border-top-color: #f8f7f2;
  }

  /* line 264, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open {
    color: #f8f7f2;
    background: #333333;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
  }

  /* line 270, ../sass/styles/_styles.scss */
  .nav-collapse .dropdown-menu a {
    color: #f8f7f2;
    padding: 0.5em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  /* line 278, ../sass/styles/_styles.scss */
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background: #f8f7f2;
    color: #333333;
  }
}
/* line 283, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #333333;
  background: transparent;
}
@media (max-width: 767px) {
  /* line 283, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
    color: #f8f7f2;
    background: #333333;
  }
}

/* line 291, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #8c1515;
  border-top-color: #8c1515;
}
@media (max-width: 767px) {
  /* line 291, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #f8f7f2;
    border-top-color: #f8f7f2;
  }
}

/* line 300, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #f8f7f2;
  background: #333333;
}

/* line 304, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #fbfbf9;
}

/* line 307, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 310, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #f8f7f2;
}

/* line 313, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 316, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #fbfbf9;
  border-radius: 0;
}

/* line 320, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 323, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #e9e6df;
}

/* line 326, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #f8f7f2;
}

/* line 330, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main {
  color: #fbfbf9;
  /* text color */
}

/* line 333, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main a {
  color: #fbfbf9;
  /* link color */
}

/* line 336, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well {
  color: #333333;
  /* well text color */
}

/* line 339, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a {
  color: #8c1515;
  /* well link color */
}

/* line 343, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #e9e6df;
}

/* line 346, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #e9e6df;
  color: #333333;
}

/* line 350, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #8c1515;
  color: #fbfbf9;
}

/* line 354, ../sass/styles/_styles.scss */
.date-stacked {
  background: #74736f;
}
/* line 356, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: #fbfbf9;
}

/* Mini-calendar navigtaion */
/* line 361, ../sass/styles/_styles.scss */
.calendar-calendar td.mini a, .calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 364, ../sass/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: #fbfbf9;
  background: #e9e6df;
}

/* line 368, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: #fbfbf9;
}

/* line 371, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #d1cfc8;
}

/* line 374, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #8c1515;
}

/* line 377, ../sass/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 380, ../sass/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: #fbfbf9;
}

/* line 383, ../sass/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 387, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today a, .calendar-calendar tr td.today a:hover {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 391, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #d1cfc8;
}

/* line 394, ../sass/styles/_styles.scss */
.calendar-calendar th.days {
  background: #e9e6df;
  color: #333333;
}

/* line 398, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #e9e6df;
}

/* line 401, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #8c1515;
}

/* line 404, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #8c1515;
}

/* line 407, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: #fbfbf9;
  color: #d1cfc8;
}

/* line 411, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #8c1515;
  color: #fbfbf9;
}

/* line 415, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background-color: #8c1515;
  color: #fbfbf9;
}

/* line 420, ../sass/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #e9e6df;
  color: #333333;
}

/* line 424, ../sass/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -moz-box-shadow: 0px 0px 5px 3px #e9e6df;
  -webkit-box-shadow: 0px 0px 5px 3px #e9e6df;
  box-shadow: 0px 0px 5px 3px #e9e6df;
}

/* line 5, ../sass/styles/_light-styles.scss */
a:hover,
a:focus,
.normal-link a:hover, .normal-link a:focus,
.normal-link h2 a:hover, .normal-link h2 a:focus,
.normal-link h3 a:hover, .normal-link h3 a:focus {
  text-decoration: underline;
}

/* line 8, ../sass/styles/_light-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 11, ../sass/styles/_light-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #e9e6df;
}

/* line 14, ../sass/styles/_light-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}
@media (max-width: 767px) {
  /* line 14, ../sass/styles/_light-styles.scss */
  .navbar .nav > li > a {
    border-bottom: 0;
    padding: 0.25em 0.5em;
  }
}

/* line 27, ../sass/styles/_light-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  border-bottom: 5px solid #e9e6df;
}
@media (max-width: 767px) {
  /* line 27, ../sass/styles/_light-styles.scss */
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active-trail > a {
    border-bottom: 0;
  }
}

@media (max-width: 767px) {
  /* line 34, ../sass/styles/_light-styles.scss */
  .navbar {
    margin-top: 0;
  }
}
/* line 41, ../sass/styles/_light-styles.scss */
.site-footer .menu li a:hover,
.site-footer .menu li a:focus,
.site-footer .menu li a.active,
.site-footer .menu li a.active-trail {
  text-decoration: underline;
}

/* line 44, ../sass/styles/_light-styles.scss */
.well .caption {
  color: #6a655c;
}

/* line 53, ../sass/styles/_light-styles.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active-trail > a {
  color: #333333;
  background: #e9e6df;
}
