/* line 1, ../sass/styles/_styles.scss */
body {
  color: #3f3c30;
  background: #5e3032;
}

/* line 6, ../sass/styles/_styles.scss */
.header {
  background: #d5d0c0;
}

/* line 9, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #d5d0c0;
  border-bottom: 1px solid #d5d0c0;
}

/* line 13, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
  border-bottom: 1px solid #d5d0c0;
}

/* line 17, ../sass/styles/_styles.scss */
.site-footer {
  background: #5e3032;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3f3c30;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #3f3c30;
}

/* line 28, ../sass/styles/_styles.scss */
h2, h2 a,
h2 a:hover, h2 a:focus {
  color: #3f3c30;
}

/* line 31, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 54, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #3f3c30;
}

/* line 57, ../sass/styles/_styles.scss */
#site-slogan {
  color: #3f3c30;
}

/* line 70, ../sass/styles/_styles.scss */
.caption {
  color: #8a887d;
}

/* line 77, ../sass/styles/_styles.scss */
a {
  color: #8f7029;
}

/* line 80, ../sass/styles/_styles.scss */
a:hover, a:focus {
  color: #3f3c30;
}

/* line 83, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #5e3032;
  color: #fbfbf9;
}

/* line 88, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 93, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8f7029;
}

/* line 97, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {
  color: #3f3c30;
}

/* line 104, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 115, ../sass/styles/_styles.scss */
.well {
  background: #d5d0c0;
}

/* line 122, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #3f3c30;
  background: transparent;
}

/* line 130, ../sass/styles/_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #5e3032;
  background: transparent;
}

/* line 135, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #3f3c30;
}

/* line 139, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #d5d0c0;
  border: 1px solid #d5d0c0;
}

/* line 145, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #3f3c30;
}

/* line 154, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #5e3032;
  background: transparent;
}

/* line 158, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #3f3c30;
  border-top-color: #3f3c30;
}

/* line 162, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #d5d0c0;
  background: #3f3c30;
}

/* line 1, ../sass/styles/_rich-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 4, ../sass/styles/_rich-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #d5d0c0;
}

/* line 7, ../sass/styles/_rich-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 15, ../sass/styles/_rich-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #5e3032;
}

/* line 19, ../sass/styles/_rich-styles.scss */
.site-footer {
  color: #fbfbf9;
}

/* line 22, ../sass/styles/_rich-styles.scss */
.site-footer .block h2 {
  color: #fbfbf9;
}

/* line 25, ../sass/styles/_rich-styles.scss */
.site-footer a, .site-footer a:hover, .site-footer a:focus {
  color: #fbfbf9;
}

/* line 28, ../sass/styles/_rich-styles.scss */
.site-footer a:hover, .site-footer a:focus {
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* line 33, ../sass/styles/_rich-styles.scss */
  .navbar .btn-navbar {
    background: #5e3032;
  }
}
