body {
  color: #333333;
  background: #53284f;
}

.header {
  background: #53284f;
}

.site-main-menu {
  background: #53284f;
  border-bottom: 1px solid #53284f;
}

.main {
  background: white;
  border-bottom: 1px solid #53284f;
}

.site-footer {
  background: #53284f;
}

h1, h2, h3, h4, h5, h6 {
  color: #53284f;
}

h1 {
  color: #333333;
}

h2 {
  color: #53284f;
}

.site-name a, .site-name a:hover {
  color: #333333;
}

#site-slogan {
  color: #333333;
}

a {
  color: #007c92;
}

a:hover, a:focus {
  color: #333333;
}

a.btn, .btn a {
  background: #53284f;
  color: white;
}

a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
  background: #333333;
  color: white;
}

a.more-link, .more-link a {
  color: #007c92;
}

a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {
  color: #333333;
}

a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: white;
}

.well {
  background: #00505c;
}

.navbar .nav > li > a {
  color: white;
  background: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  background: white;
}

.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #333333;
}

.site-name a, .site-name a:hover {
  color: white;
}

#site-slogan {
  color: white;
}

.site-main-menu {
  border-bottom: 0;
  background: #53284f;
}

.navbar {
  margin-bottom: 0;
}

.navbar .nav > li > a {
  padding: 0.5em 1em;
  margin-right: 0.25em;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
}

.main .menu li a:hover, .main .menu li a:focus, .main .menu li a.active {
  text-decoration: underline;
}

.well {
  color: white;
}

.well h2 {
  color: white;
}

.well a,
.well .menu li a {
  color: #EAAB00;
}

.well a:hover, .well a:focus,
.well .menu li a:hover, .well .menu li a:focus, .well .menu li a.active,
.site-footer .menu li a:hover, .site-footer .menu li a:focus, .site-footer .menu li a.active {
  color: white;
  text-decoration: underline;
}

.site-footer {
  color: white;
}

.site-footer .block h2 {
  color: white;
}

.site-footer a {
  color: #EAAB00;
}

.site-footer a:hover, .site-footer a:focus {
  color: white;
  text-decoration: underline;
}
