/* line 1, ../sass/styles/_styles.scss */
body {
  color: #fbfbf9;
  background: #2e2d29;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #282724;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #282724;
  border-bottom: 1px solid #232220;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #2e2d29;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #282724;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fbfbf9;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #fbfbf9;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #fbfbf9;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #fbfbf9;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #fbfbf9;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #fbfbf9;
  background-color: #232220;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #fbfbf9;
  color: #2e2d29;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #94938e;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #b3995d;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #fbfbf9;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #b3995d;
  color: #fbfbf9;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #232220;
  color: #fbfbf9;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #b3995d;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #fbfbf9;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #232220;
  color: #fbfbf9;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #232220;
}

/* line 103, ../sass/styles/_styles.scss */
th {
  background: #232220;
}

/* line 106, ../sass/styles/_styles.scss */
td.active {
  background: rgba(35, 34, 32, 0.5);
}

/* line 114, ../sass/styles/_styles.scss */
.well {
  background: #232220;
}

/* line 119, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #232220;
  background: rgba(35, 34, 32, 0.8);
}

/* line 123, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #fbfbf9;
}

/* line 126, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #b3995d;
  background: transparent;
}

/* line 130, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #fbfbf9;
  background: transparent;
}

/* line 134, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #fbfbf9;
}

/* line 137, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #282724;
  border: 1px solid #232220;
}

/* line 141, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #b3995d;
}

/* line 145, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #fbfbf9;
  background: transparent;
}

/* line 149, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #b3995d;
  border-top-color: #b3995d;
}

/* line 153, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #282724;
  background: #fbfbf9;
}

/* line 157, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #2e2d29;
}

/* line 160, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 163, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #282724;
}

/* line 166, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 169, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #2e2d29;
  border-radius: 0;
}

/* line 173, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 176, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #232220;
}

/* line 179, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #2e2d29;
}

/* line 182, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: #2e2d29;
  /* page background color */
}

/* line 185, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: #2e2d29;
  /* well link color */
}

/* line 188, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #fbfbf9;
  /* well text color */
}

/* line 191, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #b3995d;
  /* well link color */
}

/* line 1, ../sass/styles/_dark-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 4, ../sass/styles/_dark-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #232220;
}

/* line 7, ../sass/styles/_dark-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 15, ../sass/styles/_dark-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #b3995d;
}

/* line 19, ../sass/styles/_dark-styles.scss */
a.btn,
.btn a {
  border: 1px solid transparent;
}

/* line 25, ../sass/styles/_dark-styles.scss */
a.btn:hover,
a.btn:focus,
.btn a:hover,
.btn a:focus {
  border: 1px solid #fbfbf9;
}

@media (max-width: 767px) {
  /* line 29, ../sass/styles/_dark-styles.scss */
  .navbar .btn-navbar {
    background: #b3995d;
    border: 1px solid transparent;
  }

  /* line 38, ../sass/styles/_dark-styles.scss */
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active,
  .navbar .btn-navbar.disabled,
  .navbar .btn-navbar[disabled] {
    background: #232220;
    border: 1px solid #fbfbf9;
  }
}
/* line 44, ../sass/styles/_dark-styles.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  color: #232220;
}

/* line 47, ../sass/styles/_dark-styles.scss */
.dropdown-menu {
  background: #fbfbf9;
}

/* line 53, ../sass/styles/_dark-styles.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fbfbf9;
  background: #282724;
}

/* line 57, ../sass/styles/_dark-styles.scss */
th, td {
  border-color: #fbfbf9;
}

/* line 60, ../sass/styles/_dark-styles.scss */
th {
  background: #fbfbf9;
  color: #232220;
}

/* line 64, ../sass/styles/_dark-styles.scss */
td.active {
  background: rgba(251, 251, 249, 0.2);
}

/* line 67, ../sass/styles/_dark-styles.scss */
th a {
  color: #7d6b41;
}

/* line 70, ../sass/styles/_dark-styles.scss */
th a:hover, th a:focus {
  color: #2e2d29;
  text-decoration: underline;
}
