/* line 1, ../sass/styles/_bright-styles.scss */
body {
  color: #333333;
}

/* line 5, ../sass/styles/_bright-styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 8, ../sass/styles/_bright-styles.scss */
h1 {
  color: #333333;
}

/* line 11, ../sass/styles/_bright-styles.scss */
h2 {
  color: #333333;
}

/* line 57, ../sass/styles/_bright-styles.scss */
a {
  color: #8c1515;
}

/* line 60, ../sass/styles/_bright-styles.scss */
a:hover, a:focus {
  color: #333333;
}

/* line 63, ../sass/styles/_bright-styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: #fbfbf9;
}
