/* line 1, ../sass/styles/_styles.scss */
body {
  color: #333333;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #f8f7f2;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #f8f7f2;
  border-bottom: 1px solid #e9e6df;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #f8f7f2;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #333333;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #333333;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #333333;
  background-color: #e9e6df;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #333333;
  color: #fbfbf9;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #928b81;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8c1515;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #333333;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #333333;
  color: #fbfbf9;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8c1515;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: #fbfbf9;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #e9e6df;
}

/* line 103, ../sass/styles/_styles.scss */
th, td.active {
  background: #e9e6df;
}

/* line 111, ../sass/styles/_styles.scss */
.well {
  background: #e9e6df;
}

/* line 116, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #e9e6df;
  background: rgba(233, 230, 223, 0.8);
}

/* line 120, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #333333;
}

/* line 123, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #8c1515;
  background: transparent;
}

/* line 127, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #333333;
  background: transparent;
}

/* line 131, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #333333;
}

/* line 134, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #f8f7f2;
  border: 1px solid #e9e6df;
}

/* line 138, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #8c1515;
}

/* line 142, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #333333;
  background: transparent;
}

/* line 146, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #8c1515;
  border-top-color: #8c1515;
}

/* line 150, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #f8f7f2;
  background: #333333;
}

/* line 154, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #fbfbf9;
}

/* line 157, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 160, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #f8f7f2;
}

/* line 163, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 166, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #fbfbf9;
  border-radius: 0;
}

/* line 170, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 173, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #e9e6df;
}

/* line 176, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #fbfbf9;
}

/* line 179, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: #fbfbf9;
  /* page background color */
}

/* line 182, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: #fbfbf9;
  /* well link color */
}

/* line 185, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #333333;
  /* well text color */
}

/* line 188, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #8c1515;
  /* well link color */
}

/* line 5, ../sass/styles/_light-styles.scss */
a:hover,
a:focus,
.normal-link a:hover, .normal-link a:focus,
.normal-link h2 a:hover, .normal-link h2 a:focus,
.normal-link h3 a:hover, .normal-link h3 a:focus {
  text-decoration: underline;
}

/* line 8, ../sass/styles/_light-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 11, ../sass/styles/_light-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #e9e6df;
}

/* line 14, ../sass/styles/_light-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 22, ../sass/styles/_light-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #e9e6df;
}

@media (max-width: 767px) {
  /* line 26, ../sass/styles/_light-styles.scss */
  .navbar {
    margin-top: 0;
  }
}
/* line 37, ../sass/styles/_light-styles.scss */
.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active,
.main .menu li a.active-trail,
.site-footer .menu li a:hover,
.site-footer .menu li a:focus,
.site-footer .menu li a.active,
.site-footer .menu li a.active-trail {
  text-decoration: underline;
}

/* line 40, ../sass/styles/_light-styles.scss */
.well .caption {
  color: #6a655c;
}
