/* line 1, ../sass/styles/_styles.scss */
body {
  color: #3f3c30;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #d5d0c0;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #d5d0c0;
  border-bottom: 1px solid #d5d0c0;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #5e3032;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3f3c30;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #3f3c30;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #3f3c30;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #3f3c30;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #3f3c30;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #3f3c30;
  background-color: #d5d0c0;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #3f3c30;
  color: #fbfbf9;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #8a887d;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8f7029;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #3f3c30;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #5e3032;
  color: #fbfbf9;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8f7029;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #3f3c30;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #d5d0c0;
}

/* line 103, ../sass/styles/_styles.scss */
th {
  background: #d5d0c0;
}

/* line 106, ../sass/styles/_styles.scss */
td.active {
  background: rgba(213, 208, 192, 0.5);
}

/* line 110, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #d5d0c0;
}

/* line 115, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #d5d0c0;
}

/* line 122, ../sass/styles/_styles.scss */
.well {
  background: #d5d0c0;
}

/* line 127, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #d5d0c0;
  background: rgba(213, 208, 192, 0.8);
}

/* line 131, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #3f3c30;
}

/* line 134, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #3f3c30;
  background: transparent;
}

/* line 143, ../sass/styles/_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  color: #5e3032;
  background: transparent;
}

/* line 150, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail {
  color: #3f3c30;
}

/* line 153, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #d5d0c0;
  border: 1px solid #d5d0c0;
  right: 1em;
  padding: 0;
}

/* line 159, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #3f3c30;
}

/* line 163, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #5e3032;
  background: transparent;
}

/* line 167, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #3f3c30;
  border-top-color: #3f3c30;
}

/* line 172, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #d5d0c0;
  background: #3f3c30;
}

/* line 176, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #fbfbf9;
}

/* line 179, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 182, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #d5d0c0;
}

/* line 185, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 188, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #fbfbf9;
  border-radius: 0;
}

/* line 192, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 195, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #d5d0c0;
}

/* line 198, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #d5d0c0;
}

/* line 202, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main {
  color: #fbfbf9;
  /* text color */
}

/* line 205, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main a {
  color: #fbfbf9;
  /* link color */
}

/* line 208, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well {
  color: #3f3c30;
  /* well text color */
}

/* line 211, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a {
  color: #8f7029;
  /* well link color */
}

/* line 215, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #d5d0c0;
}

/* line 218, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #d5d0c0;
  color: #3f3c30;
}

/* line 222, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 226, ../sass/styles/_styles.scss */
.date-stacked {
  background: #6a6860;
}
/* line 228, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: #fbfbf9;
}

/* Mini-calendar navigtaion */
/* line 233, ../sass/styles/_styles.scss */
.calendar-calendar td.mini a, .calendar-calendar td.mini .mini-day-off {
  color: #3f3c30;
}

/* line 236, ../sass/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: #fbfbf9;
  background: #d5d0c0;
}

/* line 240, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: #fbfbf9;
}

/* line 243, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #bfbbac;
}

/* line 246, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #8f7029;
}

/* line 249, ../sass/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #3f3c30;
}

/* line 252, ../sass/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: #fbfbf9;
}

/* line 255, ../sass/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #8f7029;
  color: #fbfbf9;
}

/* line 259, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today a, .calendar-calendar tr td.today a:hover {
  background: #8f7029;
  color: #fbfbf9;
}

/* line 263, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #bfbbac;
}

/* line 266, ../sass/styles/_styles.scss */
.calendar-calendar th.days {
  background: #d5d0c0;
  color: #3f3c30;
}

/* line 270, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #d5d0c0;
}

/* line 273, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #8f7029;
}

/* line 276, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #8f7029;
}

/* line 279, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: #fbfbf9;
  color: #bfbbac;
}

/* line 283, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 287, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 292, ../sass/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #d5d0c0;
  color: #3f3c30;
}

/* line 296, ../sass/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -moz-box-shadow: 0px 0px 5px 3px #d5d0c0;
  -webkit-box-shadow: 0px 0px 5px 3px #d5d0c0;
  box-shadow: 0px 0px 5px 3px #d5d0c0;
}

/* line 1, ../sass/styles/_rich-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 4, ../sass/styles/_rich-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #d5d0c0;
}

/* line 7, ../sass/styles/_rich-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 16, ../sass/styles/_rich-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  border-bottom: 5px solid #5e3032;
}

/* line 25, ../sass/styles/_rich-styles.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active-trail > a {
  color: #fbfbf9;
  background: #5e3032;
}

/* line 30, ../sass/styles/_rich-styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: none;
}

/* line 34, ../sass/styles/_rich-styles.scss */
.well a,
.well .menu li a {
  color: #5e4a1b;
}

/* line 37, ../sass/styles/_rich-styles.scss */
.site-footer {
  color: #fbfbf9;
}

/* line 40, ../sass/styles/_rich-styles.scss */
.site-footer .block h2 {
  color: #fbfbf9;
}

/* line 46, ../sass/styles/_rich-styles.scss */
.site-footer a,
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: #fbfbf9;
}

/* line 51, ../sass/styles/_rich-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* line 55, ../sass/styles/_rich-styles.scss */
  .navbar .btn-navbar {
    background: #5e3032;
  }
}
/* line 59, ../sass/styles/_rich-styles.scss */
.well .caption {
  color: #474640;
}

/* line 62, ../sass/styles/_rich-styles.scss */
th a {
  color: #644e1c;
}

/* line 66, ../sass/styles/_rich-styles.scss */
.banner-overlay a.more-link, .banner-overlay .more-link a {
  color: #3f3c30;
}
/* line 70, ../sass/styles/_rich-styles.scss */
.banner-overlay a.more-link:hover, .banner-overlay .more-link a:hover,
.banner-overlay a.more-link:focus, .banner-overlay .more-link a:focus {
  text-decoration: underline;
}
