/* line 1, ../sass/styles/_styles.scss */
body {
  color: #333333;
  background: white;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #333333;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #333333;
  border-bottom: 1px solid transparent;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: white;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #333333;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #333333;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #333333;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #333333;
  background-color: #333333;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #333333;
  color: white;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #888888;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8c1515;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #333333;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: white;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #333333;
  color: white;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8c1515;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: white;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #333333;
}

/* line 103, ../sass/styles/_styles.scss */
th {
  background: #333333;
}

/* line 106, ../sass/styles/_styles.scss */
td.active {
  background: rgba(51, 51, 51, 0.5);
}

/* line 110, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #333333;
}

/* line 115, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #333333;
}

/* line 122, ../sass/styles/_styles.scss */
.well {
  background: #333333;
}

/* line 127, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #333333;
  background: rgba(51, 51, 51, 0.8);
}

/* line 131, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #333333;
}

/* line 134, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: white;
  background: transparent;
}

/* line 138, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #333333;
  background: white;
}

/* line 142, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #333333;
}

/* line 145, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #333333;
  border: 1px solid transparent;
}

/* line 149, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: white;
}

/* line 153, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #333333;
  background: white;
}

/* line 157, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

/* line 161, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #333333;
  background: #333333;
}

/* line 165, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: white;
}

/* line 168, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 171, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #333333;
}

/* line 174, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 177, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: white;
  border-radius: 0;
}

/* line 181, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 184, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid transparent;
}

/* line 187, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: white;
}

/* line 190, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: white;
  /* page background color */
}

/* line 193, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: white;
  /* well link color */
}

/* line 196, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #333333;
  /* well text color */
}

/* line 199, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #8c1515;
  /* well link color */
}

/* line 202, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #e9e9e9;
}

/* line 205, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #333333;
  color: #333333;
}

/* line 209, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #8c1515;
  color: white;
}

/* line 213, ../sass/styles/_styles.scss */
.date-stacked {
  background: #191919;
}
/* line 215, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: white;
}

/* Mini-calendar navigtaion */
/* line 220, ../sass/styles/_styles.scss */
.calendar-calendar td.mini a, .calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 223, ../sass/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: white;
  background: #333333;
}

/* line 227, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: white;
}

/* line 230, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #2d2d2d;
}

/* line 233, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #8c1515;
}

/* line 236, ../sass/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 239, ../sass/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: white;
}

/* line 242, ../sass/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #8c1515;
  color: white;
}

/* line 246, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today a, .calendar-calendar tr td.today a:hover {
  background: #8c1515;
  color: white;
}

/* line 250, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #2d2d2d;
}

/* line 253, ../sass/styles/_styles.scss */
.calendar-calendar th.days {
  background: #333333;
  color: #333333;
}

/* line 257, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #333333;
}

/* line 260, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #8c1515;
}

/* line 263, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #8c1515;
}

/* line 266, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: white;
  color: #2d2d2d;
}

/* line 270, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #8c1515;
  color: white;
}

/* line 274, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background-color: #8c1515;
  color: white;
}

/* line 279, ../sass/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #333333;
  color: #333333;
}

/* line 283, ../sass/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -moz-box-shadow: 0px 0px 5px 3px #333333;
  -webkit-box-shadow: 0px 0px 5px 3px #333333;
  box-shadow: 0px 0px 5px 3px #333333;
}

/* Stanford Framework Specific */
/* line 2, ../sass/styles/_contrast-styles.scss */
#header #logo {
  border-right: 1px solid white;
}

/* line 15, ../sass/styles/_contrast-styles.scss */
#site-name a,
#site-name a:hover,
#site-name a,
#site-name a:focus,
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus {
  color: white;
}

/* General */
/* line 24, ../sass/styles/_contrast-styles.scss */
a:hover,
a:focus,
.normal-link a:hover, .normal-link a:focus,
.normal-link h2 a:hover, .normal-link h2 a:focus,
.normal-link h3 a:hover, .normal-link h3 a:focus {
  text-decoration: underline;
}

/* line 27, ../sass/styles/_contrast-styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: white;
  border: 1px solid #333333;
}

/* line 31, ../sass/styles/_contrast-styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  text-decoration: none;
  background: white;
  border: 1px solid #333333;
  color: #333333;
}

/* line 37, ../sass/styles/_contrast-styles.scss */
.header-bkg .site-main-menu {
  padding-top: 0px;
}

/* line 42, ../sass/styles/_contrast-styles.scss */
.site-name a,
.site-name a:hover,
.site-name a:active {
  color: white;
}

/* line 46, ../sass/styles/_contrast-styles.scss */
.site-login,
.site-login a {
  color: white;
}

/* line 50, ../sass/styles/_contrast-styles.scss */
.site-login a:hover,
.site-login a:active {
  text-decoration: underline;
}

/* line 53, ../sass/styles/_contrast-styles.scss */
#site-slogan {
  color: white;
}

/* line 56, ../sass/styles/_contrast-styles.scss */
.site-main-menu {
  border-bottom: 0;
}

@media (min-width: 768px) {
  /* line 60, ../sass/styles/_contrast-styles.scss */
  .navbar {
    margin-bottom: 0;
  }
}
/* line 64, ../sass/styles/_contrast-styles.scss */
.navbar .nav > li > a {
  padding: 0.5em 1em;
  margin-right: 0.25em;
}

/* line 72, ../sass/styles/_contrast-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #8c1515;
}

/* line 75, ../sass/styles/_contrast-styles.scss */
.roundedcorners .navbar .nav > li > a {
  border-radius: 5px 5px 0 0;
}

@media (max-width: 767px) {
  /* line 79, ../sass/styles/_contrast-styles.scss */
  .navbar .btn-navbar {
    border: 1px solid transparent;
  }

  /* line 87, ../sass/styles/_contrast-styles.scss */
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active,
  .navbar .btn-navbar.disabled,
  .navbar .btn-navbar[disabled] {
    background: #232220;
    border: 1px solid white;
  }

  /* line 91, ../sass/styles/_contrast-styles.scss */
  .roundedcorners .navbar .nav > li > a {
    border-radius: 5px;
    margin-right: 0;
  }
}
/* line 98, ../sass/styles/_contrast-styles.scss */
.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active {
  text-decoration: underline;
}

/* line 101, ../sass/styles/_contrast-styles.scss */
.well {
  color: white;
}

/* line 104, ../sass/styles/_contrast-styles.scss */
.well .caption {
  color: #d9d9d9;
}

/* line 110, ../sass/styles/_contrast-styles.scss */
.well h2, .well h3, .well h4, .well h5, .well h6,
.well h2 a, .well h3 a, .well h4 a, .well h5 a, .well h6 a,
.well h2 a:hover, .well h3 a:hover, .well h4 a:hover, .well h5 a:hover, .well h6 a:hover,
.well h2 a:focus, .well h3 a:focus, .well h4 a:focus, .well h5 a:focus, .well h6 a:focus {
  color: white;
}

/* line 114, ../sass/styles/_contrast-styles.scss */
.well h2 a:hover, .well h3 a:hover, .well h4 a:hover, .well h5 a:hover, .well h6 a:hover,
.well h2 a:focus, .well h3 a:focus, .well h4 a:focus, .well h5 a:focus, .well h6 a:focus {
  text-decoration: underline;
}

/* line 118, ../sass/styles/_contrast-styles.scss */
.well a,
.well .menu li a {
  color: #b3995d;
}

/* line 128, ../sass/styles/_contrast-styles.scss */
.well a:hover,
.well a:focus,
.well .menu li a:hover,
.well .menu li a:focus,
.well .menu li a.active,
.site-footer .menu li a:hover,
.site-footer .menu li a:focus,
.site-footer .menu li a.active {
  color: white;
  text-decoration: underline;
}

/* line 132, ../sass/styles/_contrast-styles.scss */
.site-footer {
  color: white;
}

/* line 135, ../sass/styles/_contrast-styles.scss */
.site-footer .block h2 {
  color: white;
}

/* line 138, ../sass/styles/_contrast-styles.scss */
.site-footer a {
  color: #b3995d;
}

/* line 143, ../sass/styles/_contrast-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: white;
  text-decoration: underline;
}

/* line 147, ../sass/styles/_contrast-styles.scss */
.dropdown-menu {
  background: white;
}

/* line 153, ../sass/styles/_contrast-styles.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: white;
  background: #333333;
}

/* line 162, ../sass/styles/_contrast-styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #8c1515;
}

/* line 170, ../sass/styles/_contrast-styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret {
  border-bottom-color: #8c1515;
  border-top-color: #8c1515;
}

/* line 174, ../sass/styles/_contrast-styles.scss */
th, td {
  border-color: #333333;
}

/* line 177, ../sass/styles/_contrast-styles.scss */
th {
  background: #333333;
  color: white;
}

/* line 181, ../sass/styles/_contrast-styles.scss */
td.active {
  background: rgba(51, 51, 51, 0.2);
}

/* line 184, ../sass/styles/_contrast-styles.scss */
th a {
  color: #b3995d;
}

/* line 187, ../sass/styles/_contrast-styles.scss */
th a:hover, th a:focus {
  color: white;
}

/* line 191, ../sass/styles/_contrast-styles.scss */
.banner-overlay h2, .banner-overlay p {
  color: white;
}
/* line 194, ../sass/styles/_contrast-styles.scss */
.banner-overlay a.more-link, .banner-overlay .more-link a {
  color: #b3995d;
}
/* line 198, ../sass/styles/_contrast-styles.scss */
.banner-overlay a.more-link:hover, .banner-overlay .more-link a:hover,
.banner-overlay a.more-link:focus, .banner-overlay .more-link a:focus {
  color: white;
  text-decoration: underline;
}

/* line 203, ../sass/styles/_contrast-styles.scss */
ul.pager li a {
  color: white;
}

/* line 206, ../sass/styles/_contrast-styles.scss */
.date-stacked {
  background: #5b5b5b;
}

/* line 213, ../sass/styles/_contrast-styles.scss */
.calendar-calendar th.days,
.calendar-calendar td.mini .mini-day-off,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:focus {
  color: white;
}

/* line 218, ../sass/styles/_contrast-styles.scss */
.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover,
.calendar-calendar tr td.has-events a:hover {
  background: white;
  color: #333333;
}

/* line 222, ../sass/styles/_contrast-styles.scss */
.calendar-calendar .mini td.has-events {
  background: #8c1515;
}

/* line 225, ../sass/styles/_contrast-styles.scss */
.calendar-calendar td.mini a {
  color: white;
}

/* line 228, ../sass/styles/_contrast-styles.scss */
.calendar-calendar table.mini td.empty {
  background: #474747;
}

/* line 232, ../sass/styles/_contrast-styles.scss */
.calendar-calendar .mini td,
.calendar-calendar table.mini td.empty {
  border-color: #474747;
}
