/* line 1, ../sass/styles/_styles.scss */
body {
  color: #3f3c30;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #d5d0c0;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #d5d0c0;
  border-bottom: 1px solid #d5d0c0;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #5e3032;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3f3c30;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #3f3c30;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #3f3c30;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #3f3c30;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #3f3c30;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #3f3c30;
  background-color: #d5d0c0;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #3f3c30;
  color: #fbfbf9;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #8a887d;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8f7029;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #3f3c30;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #5e3032;
  color: #fbfbf9;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8f7029;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #3f3c30;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 100, ../sass/styles/_styles.scss */
.well {
  background: #d5d0c0;
}

/* line 105, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #d5d0c0;
  background: rgba(213, 208, 192, 0.8);
}

/* line 109, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #3f3c30;
}

/* line 112, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #3f3c30;
  background: transparent;
}

/* line 116, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #5e3032;
  background: transparent;
}

/* line 120, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #3f3c30;
}

/* line 123, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #d5d0c0;
  border: 1px solid #d5d0c0;
}

/* line 127, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #3f3c30;
}

/* line 131, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #5e3032;
  background: transparent;
}

/* line 135, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #3f3c30;
  border-top-color: #3f3c30;
}

/* line 139, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #d5d0c0;
  background: #3f3c30;
}

/* line 143, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #fbfbf9;
}

/* line 146, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 149, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #d5d0c0;
}

/* line 152, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 155, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #fbfbf9;
  border-radius: 0;
}

/* line 159, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 162, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #d5d0c0;
}

/* line 165, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #fbfbf9;
}

/* line 168, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: #fbfbf9;
  /* page background color */
}

/* line 171, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: #fbfbf9;
  /* well link color */
}

/* line 174, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #3f3c30;
  /* well text color */
}

/* line 177, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #8f7029;
  /* well link color */
}

/* line 1, ../sass/styles/_rich-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 4, ../sass/styles/_rich-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #d5d0c0;
}

/* line 7, ../sass/styles/_rich-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 15, ../sass/styles/_rich-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #5e3032;
}

/* line 18, ../sass/styles/_rich-styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: none;
}

/* line 22, ../sass/styles/_rich-styles.scss */
.well a,
.well .menu li a {
  color: #5e4a1b;
}

/* line 25, ../sass/styles/_rich-styles.scss */
.site-footer {
  color: #fbfbf9;
}

/* line 28, ../sass/styles/_rich-styles.scss */
.site-footer .block h2 {
  color: #fbfbf9;
}

/* line 34, ../sass/styles/_rich-styles.scss */
.site-footer a,
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: #fbfbf9;
}

/* line 39, ../sass/styles/_rich-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* line 43, ../sass/styles/_rich-styles.scss */
  .navbar .btn-navbar {
    background: #5e3032;
  }
}
/* line 47, ../sass/styles/_rich-styles.scss */
.well .caption {
  color: #474640;
}
