/* line 1, ../sass/styles/_styles.scss */
body {
  color: #333333;
  background: #333333;
}

/* line 6, ../sass/styles/_styles.scss */
.header {
  background: #333333;
}

/* line 9, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #333333;
  border-bottom: 1px solid transparent;
}

/* line 13, ../sass/styles/_styles.scss */
.main {
  background: white;
  border-bottom: 1px solid transparent;
}

/* line 17, ../sass/styles/_styles.scss */
.site-footer {
  background: #333333;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 27, ../sass/styles/_styles.scss */
h2 {
  color: #333333;
}

/* line 50, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #333333;
}

/* line 53, ../sass/styles/_styles.scss */
#site-slogan {
  color: #333333;
}

/* line 73, ../sass/styles/_styles.scss */
a {
  color: #8c1515;
}

/* line 76, ../sass/styles/_styles.scss */
a:hover, a:focus {
  color: #333333;
}

/* line 79, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #8c1515;
  color: white;
}

/* line 84, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
  background: #333333;
  color: white;
}

/* line 89, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8c1515;
}

/* line 93, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {
  color: #333333;
}

/* line 100, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {
  background: #333333;
  color: white;
}

/* line 111, ../sass/styles/_styles.scss */
.well {
  background: #333333;
}

/* line 118, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: white;
  background: transparent;
}

/* line 126, ../sass/styles/_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  background: white;
}

/* line 1, ../sass/styles/_contrast-styles.scss */
.site-name a, .site-name a:hover {
  color: white;
}

/* line 4, ../sass/styles/_contrast-styles.scss */
#site-slogan {
  color: white;
}

/* line 8, ../sass/styles/_contrast-styles.scss */
.site-main-menu {
  border-bottom: 0;
}

/* line 11, ../sass/styles/_contrast-styles.scss */
.navbar {
  margin-bottom: 0;
}

/* line 14, ../sass/styles/_contrast-styles.scss */
.navbar .nav > li > a {
  padding: 0.5em 1em;
  margin-right: 0.25em;
}

/* line 22, ../sass/styles/_contrast-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #8c1515;
}

/* line 26, ../sass/styles/_contrast-styles.scss */
.well {
  color: white;
}

/* line 29, ../sass/styles/_contrast-styles.scss */
.well h2 {
  color: white;
}

/* line 33, ../sass/styles/_contrast-styles.scss */
.site-footer {
  color: white;
}

/* line 36, ../sass/styles/_contrast-styles.scss */
.site-footer .block h2 {
  color: white;
}

/* line 39, ../sass/styles/_contrast-styles.scss */
.site-footer a, .site-footer a:hover, .site-footer a:focus {
  color: white;
}

/* line 42, ../sass/styles/_contrast-styles.scss */
.site-footer a:hover, .site-footer a:focus {
  text-decoration: underline;
}
