/* line 1, ../sass/styles/_styles.scss */
body {
  color: #fbfbf9;
  background: #2e2d29;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #282724;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #282724;
  border-bottom: 1px solid #232220;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #2e2d29;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #282724;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fbfbf9;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #fbfbf9;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #fbfbf9;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 45, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover {
  color: #fbfbf9;
}

/* line 48, ../sass/styles/_styles.scss */
#site-slogan {
  color: #fbfbf9;
}

/* line 55, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #fbfbf9;
  background-color: #232220;
}

/* line 59, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #fbfbf9;
  color: #2e2d29;
}

/* line 65, ../sass/styles/_styles.scss */
.caption {
  color: #94938e;
}

/* line 70, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #b3995d;
}

/* line 73, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #fbfbf9;
}

/* line 76, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #b3995d;
  color: #fbfbf9;
}

/* line 80, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #232220;
  color: #fbfbf9;
}

/* line 84, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #b3995d;
}

/* line 87, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #fbfbf9;
}

/* line 92, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #232220;
  color: #fbfbf9;
}

/* line 100, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #232220;
}

/* line 103, ../sass/styles/_styles.scss */
th {
  background: #232220;
}

/* line 106, ../sass/styles/_styles.scss */
td.active {
  background: rgba(35, 34, 32, 0.5);
}

/* line 110, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #232220;
}

/* line 115, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #232220;
}

/* line 122, ../sass/styles/_styles.scss */
.well {
  background: #232220;
}

/* line 127, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #232220;
  background: rgba(35, 34, 32, 0.8);
}

/* line 131, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #fbfbf9;
}

/* line 134, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #b3995d;
  background: transparent;
}

/* line 138, ../sass/styles/_styles.scss */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #fbfbf9;
  background: transparent;
}

/* line 142, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover, .sidebar .nav li a:focus, .sidebar .nav li a.active {
  color: #fbfbf9;
}

/* line 145, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #282724;
  border: 1px solid #232220;
}

/* line 149, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #b3995d;
}

/* line 153, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #fbfbf9;
  background: transparent;
}

/* line 157, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #b3995d;
  border-top-color: #b3995d;
}

/* line 161, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #282724;
  background: #fbfbf9;
}

/* line 165, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #2e2d29;
}

/* line 168, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 171, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #282724;
}

/* line 174, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 177, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #2e2d29;
  border-radius: 0;
}

/* line 181, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 184, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #232220;
}

/* line 187, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #2e2d29;
}

/* line 190, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main {
  color: #2e2d29;
  /* page background color */
}

/* line 193, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main a {
  color: #2e2d29;
  /* well link color */
}

/* line 196, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well {
  color: #fbfbf9;
  /* well text color */
}

/* line 199, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.style-custom-styles-light .main .well a {
  color: #b3995d;
  /* well link color */
}

/* line 202, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #232220;
}

/* line 205, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #232220;
  color: #fbfbf9;
}

/* line 209, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #b3995d;
  color: #2e2d29;
}

/* line 213, ../sass/styles/_styles.scss */
.date-stacked {
  background: #111110;
}
/* line 215, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: #2e2d29;
}

/* Mini-calendar navigtaion */
/* line 220, ../sass/styles/_styles.scss */
.calendar-calendar td.mini a, .calendar-calendar td.mini .mini-day-off {
  color: #fbfbf9;
}

/* line 223, ../sass/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: #2e2d29;
  background: #232220;
}

/* line 227, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: #2e2d29;
}

/* line 230, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #1f1e1c;
}

/* line 233, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #b3995d;
}

/* line 236, ../sass/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #fbfbf9;
}

/* line 239, ../sass/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: #2e2d29;
}

/* line 242, ../sass/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #b3995d;
  color: #2e2d29;
}

/* line 246, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today a, .calendar-calendar tr td.today a:hover {
  background: #b3995d;
  color: #2e2d29;
}

/* line 250, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #1f1e1c;
}

/* line 253, ../sass/styles/_styles.scss */
.calendar-calendar th.days {
  background: #232220;
  color: #fbfbf9;
}

/* line 257, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #232220;
}

/* line 260, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #b3995d;
}

/* line 263, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #b3995d;
}

/* line 266, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: #2e2d29;
  color: #1f1e1c;
}

/* line 270, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #b3995d;
  color: #2e2d29;
}

/* line 274, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background-color: #b3995d;
  color: #2e2d29;
}

/* line 279, ../sass/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #232220;
  color: #fbfbf9;
}

/* line 283, ../sass/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -moz-box-shadow: 0px 0px 5px 3px #232220;
  -webkit-box-shadow: 0px 0px 5px 3px #232220;
  box-shadow: 0px 0px 5px 3px #232220;
}

/* Stanford Framework Specific */
/* line 2, ../sass/styles/_dark-styles.scss */
#header #logo {
  border-right: 1px solid #fbfbf9;
}

/* line 15, ../sass/styles/_dark-styles.scss */
#site-name a,
#site-name a:hover,
#site-name a,
#site-name a:focus,
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus {
  color: #fbfbf9;
}

/* General */
/* line 20, ../sass/styles/_dark-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 23, ../sass/styles/_dark-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #232220;
}

/* line 26, ../sass/styles/_dark-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 34, ../sass/styles/_dark-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  border-bottom: 5px solid #b3995d;
}

/* line 38, ../sass/styles/_dark-styles.scss */
a.btn,
.btn a {
  border: 1px solid transparent;
}

/* line 44, ../sass/styles/_dark-styles.scss */
a.btn:hover,
a.btn:focus,
.btn a:hover,
.btn a:focus {
  border: 1px solid #fbfbf9;
}

@media (max-width: 767px) {
  /* line 48, ../sass/styles/_dark-styles.scss */
  .navbar .btn-navbar {
    background: #b3995d;
    border: 1px solid transparent;
  }

  /* line 57, ../sass/styles/_dark-styles.scss */
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active,
  .navbar .btn-navbar.disabled,
  .navbar .btn-navbar[disabled] {
    background: #232220;
    border: 1px solid #fbfbf9;
  }
}
/* line 63, ../sass/styles/_dark-styles.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  color: #232220;
}

/* line 66, ../sass/styles/_dark-styles.scss */
.dropdown-menu {
  background: #fbfbf9;
}

/* line 72, ../sass/styles/_dark-styles.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #fbfbf9;
  background: #282724;
}

/* line 76, ../sass/styles/_dark-styles.scss */
th, td {
  border-color: #fbfbf9;
}

/* line 79, ../sass/styles/_dark-styles.scss */
th {
  background: #fbfbf9;
  color: #232220;
}

/* line 83, ../sass/styles/_dark-styles.scss */
td.active {
  background: rgba(251, 251, 249, 0.2);
}

/* line 86, ../sass/styles/_dark-styles.scss */
th a {
  color: #7d6b41;
}

/* line 89, ../sass/styles/_dark-styles.scss */
th a:hover, th a:focus {
  color: #2e2d29;
  text-decoration: underline;
}

/* line 93, ../sass/styles/_dark-styles.scss */
.date-stacked {
  background: #4f4e4c;
}
/* line 95, ../sass/styles/_dark-styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: #fbfbf9;
}

/* line 101, ../sass/styles/_dark-styles.scss */
.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover,
.calendar-calendar tr td.has-events a:hover {
  background: #fbfbf9;
  color: #2e2d29;
}

/* line 105, ../sass/styles/_dark-styles.scss */
.calendar-calendar .mini td.has-events {
  background: #b3995d;
}

/* line 108, ../sass/styles/_dark-styles.scss */
.calendar-calendar td.mini a {
  color: #2e2d29;
}

/* line 111, ../sass/styles/_dark-styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: #575753;
}

/* line 114, ../sass/styles/_dark-styles.scss */
#block-search-form input.search-query {
  color: #2e2d29;
}
