body {
}
@media (max-width: 767px) {
    body {
        padding: 0;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.header {
    margin: 0;
    padding: 30px 0;
    min-height: 60px;
}
.red-bar .header {
    border-top: 10px solid $clr-cardinal;
}
.nav-search {
    margin-right: 2%;
    margin-top: -90px;
}
.site-main-menu {
}
.main {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}
.mc-content {
    @include box-sizing(border-box);
}
.site-footer {
    margin: 0;
    padding: 30px 0 20px 0;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
strong {
}
.content ul li {
    list-style-type: square;
}
.site-logo img {
    margin-right: 15px;
    @media (max-width: 480px) {
        margin-right: 0;
    }
}
#name-and-slogan {
    padding-left: 0;
}
.site-name {
    margin-left: -4px;
}
.site-name a, .site-name a:hover {
}
#site-slogan {
}
.summary {
}
.descriptor {
}
.credits {
}
.caption {
    margin-bottom: 0;
}

.quote {
    font-size: 1.5em;
    line-height: 1.5em;
    quotes: '\201c' '\201d';
}
blockquote {
    padding: 2em 3em 1em;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 60px 30px;
}
blockquote.quote {
    padding: .5em 3em 1em;
}
blockquote p {
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 1em;
}
blockquote > p:first-child {
    line-height: 1.5em;
    padding-left: 0;
    text-indent: 0;
 }
p.quote {
    text-indent: -1em;
}
p.quote:before {
    position: relative;
    left: -5px;
}
.quote:before, .quote:after,
div.quote p:last-child:after, blockquote.quote p:last-child:after  {
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
}
.quote:before {
    content: open-quote;
}
.quote:after {
    content: close-quote;
}
div.quote:before, blockquote.quote:before {
    left: -27px;
    position: relative;
    top: 34px;
}
div.quote:after, blockquote.quote:after {
    display: none;
}
div.quote p:last-child:after, blockquote.quote p:last-child:after, p.quote:after {
    content: close-quote;
    line-height: 0;
    position: relative;
    left: 8px;
    top: 20px;
}

.big-text {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}
.infotext {
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0;
    letter-spacing: -0.05em;
}

a {
}
a:hover, a:focus {
}
a.btn, .btn a {
    padding: 0.5em 1em;
    border: none;
    @include text-shadow(none);
    @include box-shadow(none);
    @include border-radius(0.3em);
}
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
}
a.more-link, .more-link a {
    text-transform: none;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}
a.more-link:after, .more-link a:after {
    content:" »";
}
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
}
a.edit-link, .edit-link a {
    @include border-radius(0.3em);
    padding: 0.5em 1em;
    border: 1px solid $clr-gray;
    font-size: .8em;
    text-decoration: none;
}
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
    background: $clr-gray-light;
}
.block {
}
.block > h2 {
    margin-top: 0;
}
.well {
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
}
.block.well h2 {
}

.banner-overlay {
    height: auto; 
    position: absolute;
}
.banner-overlay > div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75); 
    color: #F2F1EB; 
    position: relative; 
    margin-left: 6px; 
    max-width: 60%; 
    padding: 10px; 
    top: -170px;
}
.banner-overlay p {
    display: inline; 
    margin-right: 15px; 
    font-size: 14px;
}
.banner-overlay h2, .banner-overlay h3, .banner-overlay h4 {
    margin-top: 0;
}
.banner-overlay-caption {
    font-size: 16px; 
    line-height: 1em; 
    margin-bottom: 8px;
}
@media (max-width: 480px) {
    .banner-overlay {
        position:inherit; 
    }
    .banner-overlay > div {
        position: inherit; 
        margin:0px; 
        max-width:100%;
    }
}