body {

}

h1, h2, h3, h4, h5, h6 {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

strong {

}

.site-name {

}
.site-name a, .site-name a:hover {
	
}
#site-slogan {
	
}

.summary {

}
.descriptor {

}
.credits {

}
.caption {

}
.quote {

}

a {

}
a:hover, a:focus {

}
a.btn, .btn a {
    padding: 0.5em 1em;
    border: none;
    @include text-shadow(none);
    @include box-shadow(none);
}
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
	
}

a.more-link, .more-link a {

}
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {

}
a.edit-link, .edit-link a {

}
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {

}

.block {

}
.block h2 {

}
.well {
	border: none;
	@include border-radius(0);
	@include box-shadow(none);
}
.block.well h2 {

}

/* Override main menu */
.navbar-inner {
    background-color: transparent;
    background-image: none;
    border: medium none;
	@include box-shadow(none);
    padding: 0;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
    background-color: #333;
    color: #FFF;
    @include box-shadow(none);
}
.navbar .nav > li > a {
     padding: .5em 1em;
     @include text-shadow(none);
}