body {

}

h1, h2, h3, h4, h5, h6 {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

strong {

}

.site-name {

}
.site-name a, .site-name a:hover {
	
}
#site-slogan {
	
}

.summary {

}
.descriptor {

}
.credits {

}
.caption {

}
.quote {

}

a {

}
a:hover, a:focus {

}
a.btn, .btn a {
    padding: 0.5em 1em;
    border: none;
    @include text-shadow(none);
    @include box-shadow(none);
}
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {
	
}

a.more-link, .more-link a {

}
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {

}
a.edit-link, .edit-link a {

}
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {

}

.block {

}
.block h2 {

}
.block.well {

}
.block.well h2 {

}