body {

}

.header {

}
.site-main-menu {

}
.site-footer {

}

h1, h2, h3, h4, h5, h6 {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

strong {

}

.site-name {

}
.site-name a, .site-name a:hover {
	
}
#site-slogan {
	
}

.summary {

}
.descriptor {

}
.credits {

}
.caption {

}
.quote {

}

a {

}
a:hover, a:focus {

}
a.btn, .btn a {

}
a.btn:hover, a.btn:focus,
.btn a:hover, .btn a:focus {

}

a.more-link, .more-link a {

}
a.more-link:hover, a.more-link:focus,
.more-link a:hover, .more-link a:focus {

}
a.edit-link, .edit-link a {

}
a.edit-link:hover, a.edit-link:focus,
.edit-link a:hover, .edit-link a:focus {

}

.block {

}
.block h2 {

}
.well {

}
.block.well h2 {

}

.navbar .nav > li > a {
	padding-bottom: .25em;
	border-bottom: 5px solid transparent;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover {
	border-bottom: 5px solid $clr-line;
}